.main-container {
 display: flex;
 justify-content: space-around;
 color: rgba(130, 11, 241, 0.774);
}


.questions {
  text-align: center;
  color: rgba(89, 26, 148, 0.774);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 100px;
}


.quiz {
  text-align: center;
}

.choices.button {
  background-color: violet;
  color: bisque;
}